:root {
  --bg-color: #FFE3CD;
  --navbar-color: #FEC89A;
  --search-bg: #FEF6F0;
  --text-color: #5B5B5B;
  --placeholder: #BBBBBB;
  --lighter-grey: #e6e6e6;

  --font-title: 2rem;
  --font-subtitle: 1.5rem;
  --font-regular: 1rem;
  --font-navbar: 0.95rem;
  --font-placeholder: 0.875rem;
  --font-small: 0.75rem;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-color);
  padding: 1rem 2rem;
}

.logo-img {
  width: 150px;
}

.user-icon img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

input[type="text"] {
  width: 300px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: var(--search-bg);
  color: var(--text-color);
}

.voltar-container {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

.voltar {
  background: none;
  border: none;
  cursor: pointer;
}

.voltar img {
  width: 25px;
}

.container-receita {
  max-width: 1000px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: var(--search-bg);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1#nome-receita {
  font-size: var(--font-title);
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
}

.imagem-central {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.imagem-central img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.034);
}

.detalhes-receita {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  justify-content: center;
  font-size: 1rem; /* Tamanho base maior */
}

.detalhes-receita img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#autor-receita {
  font-size: var(--font-regular);
}

#tempo-preparo {
  font-size: 1rem;
  color: var(--text-color);
}


section {
  margin-bottom: 2rem;
}

section h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-align: left;
  font-weight: bold;
}

ul, ol {
  padding-left: 1.5rem;
  font-size: var(--font-regular);
}

#dica-chef {
  font-size: var(--font-regular);
}

.footer {
  background-color: var(--navbar-color);
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
  font-size: 0.9rem;
}

